/* 全局样式表 */
html,body,#app{
	height:100%;
	margin:0;
	padding:0;
	min-width:1366px;/* 防止窗口缩小后组件自动换行 */
}

.el-breadcrumb{
	margin-bottom: 15px;
	font-size: 12px;

}

.el-card{
	box-shadow: 0 1px 1px rgba(0,0,0,0.15) !important;/* 自带的box-shadow权重比较高，通过添加important来增加自定义box-shadow权重 */	
}

.el-table{
	margin-top:15px;
	font-size: 12px;
}

.el-pagination{
	margin-top:15px;
}

/* 避免级联选择器下拉菜单过长 */
.el-cascader-menu{
	height:300px;
}

.el-step__title{
  font-size: 13px;
}
/* 富文本编辑器高度 */
.ql-editor{
  min-height:300px;
}
